body {
    background-color: #000000;
    font-family: 'Overpass', sans-serif;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 90vw;
    margin-left:5vw;
    margin-right:5vw;
    font-size: min(3vw, 2.5rem);
}