body {
    background-color: #000000;
    font-family: 'Overpass', sans-serif;
    color: #ffffff;
    text-align: center;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 90vw;
    margin-left:5vw;
    margin-right:5vw;
    font-size: min(3vw, 2.5rem);
    background-image: url("Untitled-4.jpg");
    background-size: auto 100vh;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    body {
        background-size: 200vw;
    }
@media (max-width: 450px) {
    body {
        height: 50vh;
    }
}
}