body {
	background-color: black;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/res/img/background.webp") no-repeat fixed center;
	background-size: cover;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	color: white;
	font-family: Arial, sans-serif;
	display: grid;
	gap: 6vh;
	padding: 0;
	margin: 0;
}

h1 {
	text-decoration: underline;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
}

p, hr {
	color: lightgray;
}

a {
	color: gray;
}

@keyframes navbar {
	from {
		padding-inline: 0;
	}
}

#navbar {
	width: auto;
	max-width: 80vw;
	display: inline-flex;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 2px solid white;
	border-radius: 10px;
	padding-block: 0.2em;
	padding-inline: 0.8em;
	margin-top: 0.8vw;
	margin-inline: auto;
	position: sticky;
	top: 0;
	z-index: 1;
	text-align: center;
}

#navbar .logo {
	width: 1.5em;
	height: 1.5em;
}

#navbar nav {
	align-self: center;
	margin-inline-start: 1vw;
}

#navbar nav a {
	color: lightgray;
	padding-inline: 0.5vw;
	text-decoration: none;
	animation-name: navbar;
	animation-duration: 1s;
}

#navbar nav a:hover {
	color: gray;
	text-decoration: underline;
}

#navbar nav a.active {
	color: gray;
}

#navbar nav a.active:hover {
	color: lightgray;
}

@keyframes banner {
	from {
		object-position: 0 100%;
		filter: blur(4px);
	}
}

#banner {
	width: 80vw;
	height: 23vh;
	border: 1px solid white;
	border-radius: 10px;
	object-fit: cover;
	margin-inline: auto;
	animation-name: banner;
	animation-duration: 1s;
}

#page {
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 2px solid white;
	border-radius: 10px;
	margin-inline: 2vw;
	padding: 1vw;
}

@keyframes img {
	from {
		filter: blur(4px);
	}
}

#page img {
	width: 80%;
	animation-name: img;
	animation-duration: 1s;
}

#intro {
	display: grid;
	justify-content: start;
}

#intro img {
	grid-area: 1/1/4/2;
	width: 14rem;
	height: 14rem;
	border: 4px solid lightgray;
	border-radius: 12px;
}

#intro h1 {
	grid-area: 1/2/2/3;
	align-self: start;
	margin-inline: 2vw;
}

#intro p {
	grid-area: 2/2/3/3;
	align-self: start;
	margin-inline: 2vw;
}

#intro a {
	grid-area: 3/2/4/3;
	align-self: start;
	margin-inline: 2vw;
}

#intro nav {

}

#intro nav a {
	padding-inline: 1vw;
	text-decoration: none;
	color: white;
}

#intro nav a:hover {
	color: grey;
}

#tf {
	display: grid;
	text-align: center;
}

#tf h2 {
	grid-area: 1/2/2/3;
}

#tf .this_website {
	grid-area: 2/1/3/2;
	margin-top: 1vw;
}

#tf .this_website img:hover {
	width: 86%;
}

#tf .acto_utils {
	grid-area: 2/2/3/3;
}

#tf .acto_utils img {
	width: 90%;
}

#tf .acto_utils img:hover {
	width: 96%;
}

#tf .tech_support {
	grid-area: 2/3/3/4;
	margin-top: 1vw;
}

#tf .tech_support img:hover {
	width: 86%;
}

#wyaai {
	display: grid;
	text-align: center;
}

#wyaai h2 {
	grid-area: 1/1/2/3;
}

#wyaai .contact_me {
	grid-area: 2/1/3/2;
}

#wyaai .my_blog {
	grid-area: 2/2/3/3;
}
footer {
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-top: 1px solid white;
	padding-block: 0.2em
}

footer p {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 600px) {
	#navbar {
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
	}

	#navbar nav a {
		animation-name: none;
	}

	#page img {
		animation-name: none;
	}

	#banner {
		width: 98vw;
		animation-name: none;
	}

	#page {
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
	}

	#intro {
		display: block;
		text-align: center;
	}

	#tf {
		display: block;
	}

	#wyaai {
		display: block;
	}

	footer {
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
	}
}
