---
import ActoLayout from "../layouts/ActoLayout.astro";
---

<ActoLayout title="About Me">
    <section class="max-w-4xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-6 text-indigo-400">About Me</h2>

        <p class="mb-4 text-neutral-400">
            I'm Acto, a tech enthusiast managing large-scale events, personal projects, and community servers.<br><br>
            Welcome to my website I guess? I don't really know what to say here lol.<br><br>
            I'm just a random 17 year old based in Beautiful British Columbia, Canada. <br><br>My interest in technology spans from system administration to audio engineering and everything inbetween. Outside of technology, I enjoy outdoor sports, where my main sports are Cross-Country and Triathlon.<br><br>
            At home, I usually spend my time on <a href="https://homeworksmp.gay" class="underline text-indigo-300">HomeworkSMP</a> or tinkering with random things like my self-hosted services or <a href="/specs" class="underline text-indigo-300">one of my PCs</a>.<br><br>
        </p>

        
    </section>
</ActoLayout>
