---
import ActoLayout from "../layouts/ActoLayout.astro";
---

<ActoLayout title="Athletics" noindex={true}>
    <section class="max-w-3xl mx-auto text-neutral-100 space-y-12">
        <h2 class="text-3xl font-semibold text-indigo-400">Athletics</h2>

        <h3 class="text-2xl font-semibold text-indigo-300">Triathlon</h3>
        <table class="w-full table-auto text-neutral-400">
            <thead>
                <tr class="text-left border-b border-neutral-700">
                    <th class="py-2">Month</th>
                    <th class="py-2">Distance</th>
                    <th class="py-2">Swim</th>
                    <th class="py-2">Bike</th>
                    <th class="py-2">Run</th>
                    <th class="py-2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">August 2026</td>
                    <td class="py-2">T100</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:01:30</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">March 2026</td>
                    <td class="py-2">Olympic Triathlon <br>(Indoor Swim)</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:00:30</td>
                    <td class="py-2">0:00:00 ± 0:01:30</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">September 2025</td>
                    <td class="py-2">Sprint Triathlon <br>(19km Bike)</td>
                    <td class="py-2">0:17:30 ± 0:00:30</td>
                    <td class="py-2">0:35:30 ± 0:00:30</td>
                    <td class="py-2">0:21:30 ± 0:00:30</td>
                    <td class="py-2">1:14:30 ± 0:01:30</td>
                </tr>
            </tbody>
        </table>

        <h3 class="text-2xl font-semibold text-indigo-300">Cross-Country</h3>
        <table class="w-full table-auto text-neutral-400">
            <thead>
                <tr class="text-left border-b border-neutral-700">
                    <th class="py-2">Month</th>
                    <th class="py-2">Type</th>
                    <th class="py-2">Distance</th>
                    <th class="py-2">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">November 2025</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">5.0 km</td>
                    <td class="py-2">18:55 ± 0:05 (3:47/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">October 2025</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">5.2 km</td>
                    <td class="py-2">20:30 ± 0:05 (3:57/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">September 2025</td>
                    <td class="py-2">Meet</td>
                    <td class="py-2">5.0 km</td>
                    <td class="py-2">18:15 ± 0:05 (3:39/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">November 2024</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">5.0 km</td>
                    <td class="py-2">20:05 ± 0:05 (4:01/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">October 2024</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">5.1 km</td>
                    <td class="py-2">20:05 ± 0:05 (3:56/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">November 2023</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">4.1 km</td>
                    <td class="py-2">17:50 ± 0:05 (4:21/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">October 2023</td>
                    <td class="py-2">Championships</td>
                    <td class="py-2">4.3 km</td>
                    <td class="py-2">18:45 ± 0:05 (4:22/km)</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="border-b border-neutral-700">
                    <td class="py-2">March 2021</td>
                    <td class="py-2">Meet</td>
                    <td class="py-2">2.7 km</td>
                    <td class="py-2">12:35 ± 0:05 (4:40/km)</td>
                </tr>
            </tbody>
        </table>
    </section>
</ActoLayout>
