---
import ActoLayout from "../layouts/ActoLayout.astro";
---

<ActoLayout title="Contact Acto">
    <section class="max-w-4xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-8 text-indigo-400">Contact</h2>
        <p class="text-neutral-400 mb-4">For personal inquiries, reach out via email:</p>

        <p class="text-neutral-100 font-mono mb-4 underline"><a href="mailto:website@veltryx.xyz">website@veltryx.xyz</a></p>

        <p class="text-neutral-400">For any inquiries related to Veltryx, please visit <a href="https://veltryx.xyz" class="underline text-cyan-200">https://veltryx.xyz</a>.</p>
    </section>
</ActoLayout>
