---
import ActoLayout from "../layouts/ActoLayout.astro";
---

<ActoLayout title="Triathlon">
    <section class="max-w-3xl mx-auto text-neutral-100 space-y-12">
        <h2 class="text-3xl font-semibold text-indigo-400">Triathlon</h2>

        <p>We're currently fine-tuning this page to ensure the best experience. Please check back soon!</p>
    </section>
</ActoLayout>
