---
import ActoLayout from "../layouts/ActoLayout.astro";

const ventures = [
    {
        name: "HomeworkSMP",
        description:
            "Community Minecraft server with governance and collaborative builds.",
        href: "https://homeworksmp.gay",
        hreftext: "Join today",
    },
    {
        name: "Athletics",
        description:
            "Student-athlete. A brief look into my journey of progression in Endurance Sports.",
        href: "/athletics",
    },
    {
        name: "Veltryx",
        description: "More than just an email.",
        href: "https://veltryx.xyz",
        hreftext: "Learn more about Veltryx",
    },
    {
        name: "Squid Game",
        description: "Coming soon...",
        href: "#",
    },
];
---

<ActoLayout title="Ventures">
    <section class="max-w-5xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-8 text-indigo-400">Ventures</h2>

        <div class="grid md:grid-cols-2 gap-6">
            {
                ventures.map((ventures) => (
                    <div class="bg-neutral-900 p-6 rounded-lg shadow hover:shadow-indigo-500/50 transition">
                        <h3 class="text-xl font-semibold mb-2">
                            {ventures.name}
                        </h3>
                        <p class="text-neutral-400 mb-4">
                            {ventures.description}
                        </p>
                        {ventures.href !== "#" && (
                            <a
                                href={ventures.href}
                                class="text-indigo-400 hover:text-indigo-300 font-medium"
                            >
                                {(ventures.hreftext || "Learn more") + " →"}
                            </a>
                        )}
                    </div>
                ))
            }
        </div>
    </section>
</ActoLayout>
